<!DOCTYPE html>
<html>
  <head>
    <title>Tictactrip</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API TICTACTRIP</h1>
    <p>Welcome to tictactrip</p>
  </body>
</html>
